@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root{
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --veryDarkBlueMainBG: hsl(217, 54%, 11%);
    --veryDarkBlueCardBG: hsl(216, 50%, 16%);
    --veryDarkBlueLine: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-size: 1.125rem;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--veryDarkBlueMainBG);
    color: var(--softBlue);
    line-height: 1.7;
}
.card-container{
    display: flex;
    flex-direction: column;
    padding: 1.4rem;
    background-color: var(--veryDarkBlueCardBG);
    max-width: 400px;
    min-width: 321px;
    height: auto;
    border-radius: 3%;
}
.img-container{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}
.img-container::after{
    content: url(./images/icon-view.svg);
    background: var(--cyan);
    position: absolute;
    inset: 0;
    display:         flex;
    justify-content: center;
    align-items:     center;
    opacity: 0;
    transition: all 0.25s ease;
}
.img-container:hover::after { opacity: 0.75; }
.img-container img{
    width: 100%;
    display: block;
}

  
.card-container h3{
    color: var(--white);
    margin-top: 1rem;
}
.card-container h3:hover{
    color: var(--cyan);
    cursor: pointer;
}

.details{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.details .price{
    color: var(--cyan);
}

.creator{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    border-top: 1px solid var(--veryDarkBlueLine);
}
.creator img{
    max-width: 30px;
    margin-right: 0.7rem;
}
.creator span{
    color: var(--white);
    margin-left: 0.5rem;
}
.creator span:hover{
    color: var(--cyan);
    cursor: pointer;
}